<!doctype html>
<html><head>
  <title>I like Sahara Desert ice cream</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
</head><body>

<!--   <div id="app">
    <h1>{{ title }} </h1>
    <p>
      <div v-for="line in lines">{{ line }}</div><br>
    </p> </h1>
  </div> -->
    <div id="container">
      <div v-for="i in range">
        <img v-bind:src="imgAddress">
      </div>
    </div>

  <script>
    const range = n => Array.from({length: n}, (v, k) => k+1);
    const imgAddress = "https://via.placeholder.com/800x450"
    const app = new Vue({
      el:"#container",
      data: {
        range: range(10),
        imgAddress
      }
    });
//     const app = new Vue({
//       el: "#app",
//       data: {
//         title: "I like Sahara Desert ice cream",
//         lines: [
//           "Sometimes when I go to Miami,",
//           "I ask for a plane to the Sahara desert",
//           "and there I eat the tastiest ice cream",
//           "I have ever tried"
//         ]
//       }
//     });
  </script>
</body></html>
